{% extends 'base.html' %}
{% load static %}

{% block title %}About Us | {% endblock %}

{% block content %}

<div class="breadcrumb-area pt-35 pb-35"   style="background-color:  var(--container-color);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li><a href="{% url 'frontpage' %}"  style="color: var(--title-color);">Home</a></li>
                <li><a href="{% url 'contact' %}"  style="color: var(--title-color);">About us</a></li>
                
            </ul>
        </div>
    </div>
</div>



    <div class="welcome-area pt-100 pb-95">
    <div class="container">
        <div class="welcome-content text-center">
            <h5>Who Are We</h5>
            <h1>Welcome To Futlink hardware</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labor et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo consequat irure </p>
        </div>
    </div>
</div>
<!--Causes One Start-->
        <section class="causes-one">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">Other Offers</span>
                    <h2 class="section-title__title">Find popular digital Courses <br> and take them on our site</h2>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="causes-one__carousel owl-theme owl-carousel">
                            <div class="causes-one__single wow fadeInLeft" data-wow-duration="1500ms">
                                <div class="causes-one__img">
                                    <div class="causes-one__img-box">
                                       <img src="/static/images/robot.jpg" alt="" >
                                        <a href="#">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                    <div class="causes-one__category">
                                        <span>Embedded Systems</span>
                                    </div>
                                </div>
                                <div class="causes-one__content">
                                    <h3 class="causes-one__title">
                                        <a href="causes-details.html">We deliver the best</a>
                                    </h3>
                                    <p class="causes-one__text" style="color: #333">There are not many of passages of lorem ipsum avail isn
                                        alteration donationa in form simply free.</p>
                                </div>
                                <div class="causes-one__progress">
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="90%">
                                            <div class="count-text">90%</div>
                                        </div>
                                    </div>
                                    <div class="causes-one__goals">
                                        <p style="color: #333"><span>$570</span> From</p>
                                        <p style="color: #333"><span>$3,000</span> To</p>
                                    </div>
                                </div>
                            </div>
                            <div class="causes-one__single wow fadeInLeft" data-wow-duration="1500ms">
                                <div class="causes-one__img">
                                    <div class="causes-one__img-box">
                                       <img src="/static/images/program.jpg" alt="" >
                                        <a href="#">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                    <div class="causes-one__category">
                                        <span>Embedded Systems</span>
                                    </div>
                                </div>
                                <div class="causes-one__content">
                                    <h3 class="causes-one__title">
                                        <a href="causes-details.html">We deliver the best</a>
                                    </h3>
                                    <p class="causes-one__text" style="color: #333">There are not many of passages of lorem ipsum avail isn
                                        alteration donationa in form simply free.</p>
                                </div>
                                <div class="causes-one__progress">
                                    <div class="bar">
                                        <div class="bar-inner count-bar" data-percent="93%">
                                            <div class="count-text">93%</div>
                                        </div>
                                    </div>
                                    <div class="causes-one__goals">
                                        <p style="color: #333"><span>$570</span> From</p>
                                        <p style="color: #333"><span>$3,000</span> To</p>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Causes One End-->
<section class="section bd-container"><div class="about-mission-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-mission mb-30">
                    <h3>Our vision</h3>
                    <p>Futlink hardware provide how all this mistaken idea of denounc pleasure and sing pain was born an will give you a ete account of the system, and expound the actual teangs the eat explorer of the truth.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-mission mb-30">
                    <h3>Our mission </h3>
                    <p>Futlink hardware provide how all this mistaken idea of denounc pleasure and sing pain was born an will give you a ete account of the system, and expound the actual teangs the eat explorer of the truth.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-mission mb-30">
                    <h3>Our goal</h3>
                    <p>Futlink hardware provide how all this mistaken idea of denounc pleasure and sing pain was born an will give you a ete account of the system, and expound the actual teangs the eat explorer of the truth.</p>
                </div>
            </div>
        </div>
    </div>
</div></section>




 <!--Counters One Start-->
        <section class="counters-one about-page-counter">
            <div class="container">
                <ul class="counters-one__box list-unstyled">
                    <li class="counter-one__single">
                        <h3 class="odometer" data-count="1050">00</h3><span class="counter-one__letter">+</span>
                        <p class="counter-one__text" style="color: #333">Total Products </p>
                    </li>
                    <li class="counter-one__single">
                        <h3 class="odometer" data-count="200">00</h3>
                        <p class="counter-one__text" style="color: #333">Total Registered Users</p>
                    </li>
                    <li class="counter-one__single">
                        <h3 class="odometer" data-count="76">00</h3><span class="counter-one__letter"></span>
                        <p class="counter-one__text" style="color: #333">Verified Orders</p>
                    </li>
                    <li class="counter-one__single">
                        <h3 class="odometer" data-count="70">00</h3><span class="counter-one__letter">+</span>
                        <p class="counter-one__text" style="color: #333">delivered Orders</p>
                    </li>
                </ul>
            </div>
        </section>
        <!--Counters One Start-->

<!--Team One Start-->
        <section class="team-one">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">executives</span>
                    <h2 class="section-title__title"style="color: var(--blue)">Meet the best team behind <br> our success story</h2>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <!--Team One Single-->
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                   <img src="/static/images/placeholder-user-300x300.png " alt="">
                                </div>
                                <div class="team-one__member-name">
                                    <h2>Moses-Johnson Oghenemaega</h2>
                                </div>
                            </div>
                            <div class="team-one__content">
                                <h4 class="team-one__member-title">Founder & CEO ~ Futlink hardwares __<span style="font-size: 12px;"> Web developer & Embedded Systems Expert</span></h4>
                                <p class="team-one__text-box">There are many of lorem ipsum available but the have in
                                    some form.</p>
                            </div>
                            <div class="team-one__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <!--Team One Single-->
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="/static/images/placeholder-user-300x300.png " alt="">
                                </div>
                                <div class="team-one__member-name">
                                    <h2>Egwhoro Vwowero</h2>
                                </div>
                            </div>
                            <div class="team-one__content">
                                <h4 class="team-one__member-title">Digital Marketer & Buisness Analyst</h4>
                                <p class="team-one__text-box">There are many of lorem ipsum available but the have in
                                    some form.</p>
                            </div>
                            <div class="team-one__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                     <div class="col-xl-4 col-lg-4">
                        <!--Team One Single-->
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                   <img src="/static/images/placeholder-user-300x300.png " alt="">
                                </div>
                                <div class="team-one__member-name">
                                    <h2>urnurefe Ejovwoke</h2>
                                </div>
                            </div>
                            <div class="team-one__content">
                                <h4 class="team-one__member-title">Graphic Designer & Python Developer</h4>
                                <p class="team-one__text-box">There are many of lorem ipsum available but the have in
                                    some form.</p>
                            </div>
                            <div class="team-one__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <!--Team One Single-->
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                   <img src="/static/images/placeholder-user-300x300.png " alt="">
                                </div>
                                <div class="team-one__member-name">
                                    <h2>iyaga Akpos</h2>
                                </div>
                            </div>
                            <div class="team-one__content">
                                <h4 class="team-one__member-title">Cloud-Hoster & Data Scientist</h4>
                                <p class="team-one__text-box">There are many of lorem ipsum available but the have in
                                    some form.</p>
                            </div>
                            <div class="team-one__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                     <div class="col-xl-4 col-lg-4">
                        <!--Team One Single-->
                        <div class="team-one__single">
                            <div class="team-one__img-box">
                                <div class="team-one__img">
                                    <img src="/static/images/placeholder-user-300x300.png " alt="">
                                </div>
                                <div class="team-one__member-name">
                                    <h2>Nature Reuben</h2>
                                </div>
                            </div>
                            <div class="team-one__content">
                                <h4 class="team-one__member-title">Videographer & Customer relations</h4>
                                <p class="team-one__text-box">There are many of lorem ipsum available but the have in
                                    some form.</p>
                                    

                            </div>
                            <div class="team-one__social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
